<li class="pc-item pc-caption">
  <label>Main Menu</label>
</li>
<li class="pc-item">
  <a href="../dashboard/index.html" class="pc-link">
    <span class="pc-micon">
      <i data-feather="home"></i>
    </span>
    <span class="pc-mtext">Dashboard</span>
  </a>
</li>

<!-- HR Management Section (HR Managers Only) -->
<li class="pc-item pc-caption" data-role="hr_manager">
  <label>HR Management</label>
</li>

<li class="pc-item pc-hasmenu" data-role="hr_manager">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <i data-feather="users"></i>
    </span>
    <span class="pc-mtext">Employee Management</span>
    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
  </a>
  <ul class="pc-submenu">
    <li class="pc-item">
      <a href="../hrms/employees.html" class="pc-link">All Employees</a>
    </li>
    <li class="pc-item">
      <a href="../hrms/employees.html#add" class="pc-link">Add Employee</a>
    </li>
    <li class="pc-item">
      <a href="../hrms/departments.html" class="pc-link">Departments</a>
    </li>
  </ul>
</li>

<li class="pc-item" data-role="hr_manager">
  <a href="../hrms/attendance.html" class="pc-link">
    <span class="pc-micon">
      <i data-feather="clock"></i>
    </span>
    <span class="pc-mtext">Attendance</span>
  </a>
</li>

<li class="pc-item pc-hasmenu" data-role="hr_manager employee">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <i data-feather="calendar"></i>
    </span>
    <span class="pc-mtext">Leave Management</span>
    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
  </a>
  <ul class="pc-submenu">
    <li class="pc-item" data-role="hr_manager">
      <a href="../hrms/leave.html" class="pc-link">Leave Requests</a>
    </li>
    <li class="pc-item" data-role="employee">
      <a href="../hrms/leave.html#apply" class="pc-link">Apply for Leave</a>
    </li>
    <li class="pc-item" data-role="hr_manager employee">
      <a href="../hrms/leave.html#history" class="pc-link">Leave History</a>
    </li>
    <li class="pc-item" data-role="hr_manager">
      <a href="../hrms/leave-types.html" class="pc-link">Leave Types</a>
    </li>
  </ul>
</li>

<li class="pc-item">
  <a href="../hrms/payroll.html" class="pc-link">
    <span class="pc-micon">
      <i data-feather="dollar-sign"></i>
    </span>
    <span class="pc-mtext">Payroll</span>
  </a>
</li>

<li class="pc-item" data-role="hr_manager">
  <a href="../hrms/recruitment.html" class="pc-link">
    <span class="pc-micon">
      <i data-feather="user-plus"></i>
    </span>
    <span class="pc-mtext">Recruitment</span>
  </a>
</li>

<!-- System Administration Section (Admins Only) -->
<li class="pc-item pc-caption" data-role="system_admin">
  <label>System Administration</label>
</li>

<li class="pc-item pc-hasmenu" data-role="system_admin">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <i data-feather="settings"></i>
    </span>
    <span class="pc-mtext">System Administration</span>
    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
  </a>
  <ul class="pc-submenu">
    <li class="pc-item">
      <a href="../hrms/users.html" class="pc-link">User Accounts</a>
    </li>
    <li class="pc-item">
      <a href="../hrms/departments.html" class="pc-link">Departments</a>
    </li>
    <li class="pc-item">
      <a href="../hrms/reports.html" class="pc-link">Reports</a>
    </li>
    <li class="pc-item">
      <a href="../hrms/backup.html" class="pc-link">Backup & Restore</a>
    </li>
    <li class="pc-item">
      <a href="../hrms/security.html" class="pc-link">Security Settings</a>
    </li>
  </ul>
</li>
